{% extends 'base.html'%}

{% block 'titulo'%}

Detalhes da situação de aprendizagem

{% endblock%}

{% block 'body' %}

<div class="container">
    <br>
    <h1>{{atividades.nome_atividade}}</h1>
    <hr>
    <video width = 100% controls>
        <source src ="{{atividades.complemento_1.url}}" type="video/mp4">
    </video>
    <br>
    <br>

<h4> Detalhes da atividade: </h4>

<a href="{{atividades.plano.url}}">Plano de Aula</a>    
    <br>
    <br>
    
<h4> Comentários: </h4>
<input id="comentario" type="text" placeholder="Comentário..." class="form-control form-control-sm">
	<br>
	<input onclick="envia_comentario()" type="button" value="Enviar" class="btn btn-success btn-lg btn-sm">
	<hr>
</div>
{% endblock%}